# ============================================================
# SecVault – Dépendances de production
# ============================================================

# Cryptographie (AES-256-GCM, HMAC-SHA256)
cryptography>=42.0.0

# Dérivation de clé Argon2id
argon2-cffi>=23.1.0

# TOTP – Authentification à deux facteurs (RFC 6238)
pyotp>=2.9.0

# QR code pour l'enrôlement TOTP (optionnel – CLI uniquement)
qrcode[pil]>=7.4.2
